%ul.pricing-table
  %li.title
    Business
  %li.price
    $9.99
    %span.per-month / mo
  -# %li.description
  -#   $100 off each month for LIFE
  -#   %br
  -#   Promo Code:
  -#   %strong
  -#     LAUNCH
  %li.bullet-item
    1500 Verified Prospect Emails
  %li.bullet-item
    Phone and Email Support
  - if controller_name == 'pages' && action_name == 'pricing'
    %li.cta-button
      - if user_signed_in?
        = link_to 'Upgrade plan', edit_user_registration_path(plan: 'business'), class: 'button', "data-no-turbolink" => true
      - else
        = link_to 'Sign up', new_user_registration_path(plan: 'business'), class: 'button', "data-no-turbolink" => true
