- content_for(:title) do
  Sales Lead Generation and Prospecting Tool
.row
  .small-12.columns
    %h1
      Find your prospect's
      %br
      verified email address
    %p.description
      Enter your prospect's first name, last name, and company domain name.
      %br
      Find your prospect's verified email address
    = button_to 'Try for Free!', users_path, method: :post, class: 'button expand round uppercase'
