<%= output_once :facebook do %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
<% end %>

<div class="fb-like"
     data-href="http://www.getdirectcontact.com"
     data-layout=<%= options[:layout] ? "#{options[:layout]}" : "button_count" %>
     data-action="like"
     data-show-faces="true"
     data-share="true">
</div>
