.pages.pricing {
    .per-month {
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
    }
    .not-included { color: red !important; }
}
.pages.policies {
    li { color: white; }
}